.feather {
    width: 32;
    height: 32px;
}

.spinner-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5db;
    position: absolute;
    z-index: 3;
}

.dashboard-content {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header {
    box-shadow:
  0px 0.3px 0.5px rgba(0, 0, 0, 0.02),
  0px 0.8px 1.3px rgba(0, 0, 0, 0.028),
  0px 1.5px 2.4px rgba(0, 0, 0, 0.035),
  0px 2.7px 4.2px rgba(0, 0, 0, 0.042),
  0px 5px 7.9px rgba(0, 0, 0, 0.05),
  0px 12px 19px rgba(0, 0, 0, 0.07)
;
}

header, nav {
    background-color: var(--primary-color);
}

/*
   * Sidebar
   */

.sidebar {
    /*position: fixed;*/
    background-color: var(--secondary-color);
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh);
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-item .nav-link {
    background-color: var(--secondary-color);
    padding: 13px;
    margin: 3px;
    border-radius: 5px;
}

.sidebar .nav-item .nav-link:hover {
    background-color: var(--accent-color);
}

.sidebar .nav-link {
    font-weight: 500;
    color: var(--text-color);
    text-align: start;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: var(--primary-color);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}

.content {
    margin-top: 18.5px !important;
}

.chart-wrapper {
    background-color: var(--secondary-color);
}

.chart-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.line-chart {
    width: 50%;
}