p {
    margin: 0 !important;
    padding: 0 !important;
}

.product-wrapper {
    min-height: 95vh;
    background-color: var(--secondary-color);
    border: none;
}

.container {
    background-color: var(--bg-color);
    padding: 17px;
}