body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*:root {
  --text-color: #191923;
  --bg-color: #FBFEF9;
  --primary-color: #0E79B2;
  --secondary-color: #F39237;
  --accent-color: #BF1363;
}*/

:root {
  --text-color: #222;
  /*--bg-color: #E8E8E8;*/
  --bg-color: #fefefe; /*#F6FCFF*/
  --primary-color: #222;
  /*--secondary-color: #F6F7FB;*/
  --secondary-color: #F5F6F7;/*#F0F6FB*/
  /*--accent-color: #e6e7eb;*/
  --accent-color: #E0E3E6;/*#e4eaef*/
  --btn-success: #1A936F;
  --btn-success-hover: #188866;
  --btn-primary: #1c67a4;
  --btn-primary-hover: #195f98;
}

.cls-blue {
  fill:var(--primary-color);
}

.cls-1 {
  fill:var(--bg-color);
}

.cls-2 {
  fill: none;
}

.button-success {
  background-color: var(--btn-success);
  color: #fafafa;
}

.button-success:hover {
  background-color: var(--btn-success-hover);
  color: #fafafa;
}

.button-primary {
  background-color: var(--btn-primary);
  color: #fafafa;
}

.button-primary:hover {
  background-color: var(--btn-primary-hover);
  color: #fafafa;
}