.Register {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--bg-color);
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-floating {
    margin: 0.75rem 0;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.instructions {
    font-size: 0.85rem;
    border-radius: 0.5rem;
    background: #222;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.submit-button {
    background-color: var(--primary-color) !important;
    color: var(--bg-color) !important;
}

.login-link {
    text-decoration: none;
    color: var(--primary-color);
}